<div id="footer" class="span-24"> 
<span  title="Content licenced under Creative Commons by-nc-sa 3.0">版权所有<a title="Content licenced under Creative Commons by-nc-sa 3.0" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.zh">&copy;</a> 
	2012-{{ site.time | date: '%Y' }} kamelzcs。
</span> 
&nbsp;&nbsp;&nbsp;&nbsp; <a href="https://github.com/kamelzcs">GitHub</a>
&nbsp;&nbsp;&nbsp;&nbsp; <a href="http://weibo.com/u/2534942150">新浪微博</a>
 &nbsp;&nbsp;&nbsp;&nbsp; <a href="http://twitter.com/kamelzcs">Twitter</a>
&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
<span>
    主题由<a title="site's theme made by Bilal Hussain" href="http://bilalh.github.com">Bilal Hussain Hussain</a>提供,由<a href="http://ddrccw.github.com">ddrccw</a>修改。
</span>
</div>
