<!DOCTYPE html>
<html>
<head>
	{% if page.title %}
	<title>{{ page.title }} - {{ site.title }}</title>
	{% else %}
	<title>{{ site.title }}</title>
	{% endif %}
	
	<meta name="author" content="kamelzcs" />
	{% if page.description %}
	<meta name="description" content="{{ page.description }}" />
	{% else %}
	<meta name="description" content="{{site.title }} {{ page.title }}" />
	{% endif %}

	{% if page.keywords %}
	<meta name="keywords" content="{{ page.keywords }}" />	
	{% endif %}

	<meta name="robots" content="noodp, nydir" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
	<link href="/css/blueprint/screen.css" type="text/css" rel="stylesheet" />
	<!--[if lt IE 8]> <link href="/css/blueprint/ie.css" type="text/css" rel="stylesheet" /> <![endif]-->	 
	<link href="/css/railscasts.css" type="text/css" rel="stylesheet" />
	<link href="/css/site.css" type="text/css" rel="stylesheet" />

	<script type="text/javascript" src="/js/writeCapture-1.0.5-nolib-min.js"></script>
		<script type="text/javascript" src="/js/jquery.js"></script>
	<script type="text/javascript" src="/js/site.js"></script>
	{% include google_analytics.html %}
	{% include google_ajax_search.html %}

	<!-- mathjax config similar to math.stackexchange -->
	<script type="text/x-mathjax-config">
	MathJax.Hub.Config({
	  jax: ["input/TeX", "output/HTML-CSS"],
	  tex2jax: {
		inlineMath: [ ['$', '$'] ],
		displayMath: [ ['$$', '$$']],
		processEscapes: true,
		skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
	  },
	  messageStyle: "none",
	  "HTML-CSS": {
		  preferredFont: "TeX",
		  availableFonts: ["STIX","TeX"],
		  }
	});
	</script>
	<script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML" type="text/javascript"></script>
	<!-- mathjax css conflict with pygments -->
	<style>
	.MathJax .mo,
	.MathJax .mi {
	  color: inherit;
	</style>

</head>

<body>
	<div class="container">
	<!-- <div class="container showgrid"> -->
		{% include header.html %}
		
		<div id="main" class="span-{% if page.no_sidebar %}24{% else %}17{% endif %}">
			{{ content }}
		</div>
		
		{% unless page.no_sidebar %}
			{% include sidebar.html %}
		{% endunless %}
		
		{% include footer.html %}
	</div>
	
</body>
</html>
